<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.training" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivityTaining"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activities.savingData.SavingToInternalStorage"
            android:label="@string/title_activity_saving_to_internal_storage" >
        </activity>
        <activity
            android:name="activities.savingData.SavingDataIndex"
            android:label="@string/title_activity_saving_data_index" >
        </activity>
        <activity
            android:name="activities.savingData.SavingToSharedPrefrences"
            android:label="@string/title_activity_saving_to_shared_prefrences" >
        </activity>
    </application>

</manifest>
